.search {
    display: flex;
}
.search input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 5px;
    font-family: 'Fira Sans';
    border-right: none;
    outline: none;
}

.search button {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    border: 1px solid #e2e2e2;
    background: cadetblue;
    color: white;
}